/* Botones circulares */
.boton-circular{
  color: var(--fuente-letra);
  width: 4rem;
  height: 4rem;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 100%;
  background-image: var(--color-logo);
  transition: background-color 0.2s ease, border 0.2s ease;
}
.botonPlay{
  padding: 5px 0 0 3px;
}
/* Boton de borrar texto */
.clear-button {
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  position: relative;
  left: 3rem;
  bottom: 0.1rem;
}

/* Contenedor de boton play y clearbutton */
.botonesContainer {
  position: sticky;
  bottom: 10px;
  background-color: none;
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px 0;
}
.boton--add {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-logo);
  color: var(--fuente-letra);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  width: 80%;
  padding: 8px 0;
  border: none;
  border-radius: 10px;
  text-align: center;
  position: sticky;
  bottom: 5px;
  margin-bottom: 5px;
}

