*:not(svg):not(path) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  transition: background .5s;
}
body.oscuro{
  background-color: #202020;
  --fuente-letra-contrario: white ;
  --fuente-letra-form: white ;
  --color-logo:  #113583;
}
a {
  text-decoration: none !important;
  color: var(--fuente-letra) !important;
}

a,
label,
button,
input[type='button'] {
  cursor: pointer;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* Container */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  width: 100%;
  z-index: 200;
  font-size: calc(1.4em + 5px);
  background: var(--color-logo);
  box-sizing: border-box;
  padding: .5rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: auto;
  overflow: hidden;

}

header *{
  color: var(--fuente-letra);

}
main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

/* Footer */
footer {
  background: var(--color-logo);
  text-align: center;
  font-size: 1.3rem;
  color: var(--fuente-letra);
}

/* Parrafo resaltado de la pagina Nota */
.parrafoEnfocadoRemarcado {
  background-color: #59b4df;
  color: var(--fuente-letra) !important;
}

/* Ocultar el boton del traductor de google */
.goog-te-gadget-simple,
#google_translate_element {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 50;
  visibility: hidden;
}


/* Modal flotante para ingresar link de una pagina */
/* Contenedor del formulario */
.modal {
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  z-index: 100;
}

.ver {
  opacity: 1;
  pointer-events: auto;
}

/* formulario */
.ventana {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--fuente-letra);
  max-width: 300px;
  padding: 10px;
}
/*input para extraer texto de pagina web */
.ventana form {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.ventana input,
.ventana button {
  padding: 5px;
}

.ventana button {
  color: var(--fuente-letra);
  background: var(--color-logo);
  margin-bottom: 5px;
}
