/* Contenedor de labels */
.contenedorLabels {
  position: relative;
  display: flex;
  justify-content: end;
}

/* Botones de back y file */
.labelsMenu {
  display: inline-flex;
  width: 100%;
  max-width: 13rem;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  margin: 0 5px;
}
.contenedorLabels label{
  margin: 0 5px;
}

.labelVerMenu {
  display: none;
}
