@media (max-width: 795px) {
    .labelsMenu {
      width: 0;
      overflow: hidden;
      transition: all .4s;
    }
    .labelsMenu.ver {
      width: 6rem;
    }
    .contenidoArchivo:focus {
      outline: none;
      border: none;
    }
    .textAreaContainer {
      padding: 0;
    }
    .labelVerMenu{
      display: inline;
    }
    .tarjeta{
      width: 98%;
      max-width: 98%;
    }
  }