@media (max-width: 650px) {
    .labelsMenu {
      width: 0;
      overflow: hidden;
      transition: all .4s;
    }
    .labelsMenu.ver {
      width: 6rem;
    }
    .contenidoArchivo:focus {
      outline: none;
      border: none;
    }
    .textAreaContainer {
      padding: 0;
    }
    .labelVerMenu{
      display: inline;
    }
  }