/* Contenedor de todas las notas */
.notas {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  color: var(--fuente-letra-contrario);
}

.tarjeta {
  transition: transform .8s, text-decoration 1s;
  font-size: 16px;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  width: 30%;
  margin: 5px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: "nota-cuerpo acciones" "nota-pie acciones";
  box-sizing: border-box;
}

.tarjeta * {
  color: var(--fuente-letra-contrario);
}
.tarjeta__contenido{
  position: relative;
  height: 7rem;
  width: 100%;
}
.tarjeta__contenido-cuerpo::first-line{
  font-size: 1rem;
  font-weight: 600;
}
.tarjeta__contenido-cuerpo {
  grid-area: nota-cuerpo;
  font-size: .8em;
  margin: 6px 12px;
  height: 6.35em;
  overflow: hidden;

}
.tarjeta__contenido-cuerpo br{
  display: none;
}
.tarjeta__contenido-pie {
  float: right;
  position: absolute;
  top: 75%;
  right: 0;
  display: flex;
  font-size: calc(1em - 4px);
  margin: 8px 12px;
}
.tarjeta__acciones-editar,
.tarjeta__acciones-eliminar {
  height: 50%;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #b4b4b4;
}
.tarjeta__acciones,
.tarjeta__acciones-editar,
.tarjeta__acciones-eliminar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tarjeta__acciones {
  border-left: 1px solid #b4b4b4;
  grid-area: acciones;
  text-align: center;
}

.tarjeta__acciones-editar:hover *,
.tarjeta__acciones-eliminar:hover * {
  color: black;
}

.tarjeta__acciones-editar:hover,
.tarjeta__acciones-eliminar:hover {
  background: #e2e2e2;
  cursor: pointer;
}

.borrar{
  text-decoration: line-through;
  transform: scale(0);
}

.noHayNotas{
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.NotaCompletada .tarjeta__contenido-cuerpo{
  text-decoration: line-through;
}