/* Contenedor de todas las notas */
.notas {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
  /* Contenedor de una nota individual */
  .ContenedorNotaIndividual {
    position: relative;
    display: flex;
    width: 300px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
    word-wrap: break-word;
    justify-content: space-between;
  }
  .ContenedorNotaIndividual a, .ContenedorNotaIndividual a *{
    color: black !important;
  }
  
  .ContenedorNotaIndividual p {
    margin: 0;
  }