/* Contenedor del area de texto editable */
.textAreaContainer {
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex: 1;
  }
  
  /* Area de texto editable */
  .contenidoArchivo {
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
  }
  .contenidoArchivo *, .contenidoArchivo{
    color: var(--fuente-letra-contrario);
  }
  
  .contenidoArchivo:empty::before {
    content: "Escribe aquí...";
    color: gray;
  }

#contenido-archivo p{
  display: inline !important;
}

#contenido-archivo p.parrafoEnfocadoRemarcado, #contenido-archivo p.parrafoEnfocadoRemarcado *{
  background-color: #59b4df;
  color: var(--fuente-letra) !important;
} 